APP_NAME="My Techical Assessment | ChatApp"
APP_NODE=development
APP_PORT=5003

MONGO_DB_NAME="chatapp"
MONGO_DB_HOST="mongodb://localhost"
MONGO_DB_PORT="27017"

JWT_SECRET_KEY="681dccd8-bac8968028681dccd8-bac8968028681dccd8-bf0-a1fb-386cc8681dccd8-bf0-a1fb-386cc8"
JWT_EXPIRES_IN="1d"